{% extends "layout.html" %}
{% block content %}
	<html>
		<head>
				<style>
					body { background-image: url("https://images.wallpaperscraft.com/image/beautiful_scenery_mountains_lake_nature_93318_1280x720.jpg");
      						background-repeat:no-repeat;
       						background-size:cover;
							} 
				</style>
		</head>
			<body>
					<h1 style="text-align:left;">Hey {{ current_user.name }}! </h1>
    				<h2>Welcome back to Work!</h2>
				
			</body>
	</html>
    
    
{% endblock content %}
