{% extends "layout.html" %}
{% block content %}
    <style>
                    body { background-image: url("https://images.wallpaperscraft.com/image/bridge_clouds_minimalism_125968_1280x720.jpg");
                            background-repeat:no-repeat;
                            background-size:cover;
                            } 
    </style>
<body>
<h3>A list of most active flights</h3>
    {% for r in result %}

    	<p>
    	<ul><li>
    	<ul>
    		<li>From {{ r.airport_id }} to {{ r.to_airport }}</li>
    		<li>Airline: {{ r.airline_name }}</li>
    		<li>Flight number: {{ r.flight_num }}</li>
    		<li>Departure time: {{ r.dep_date }} {{ r.dep_time }}</li>
    		<li>Arrival time: {{ r.arr_date }} {{ r.arr_time }}</li>
    		<li>price: ${{ r.price }}</li>
    	</ul>  
    	</ul></li> 
    	</p>
    {% endfor %}	
</body>
{% endblock content %}